# abaikan semua isi folder _output
geoclaw_driver/backup/*
geoclaw_driver/_output/*
geoclaw_driver/DataFiles/*
geoclaw_driver/KLMEMDOIDS/*
geoclaw_output/*

# buat folder nya tetap di track
!geoclaw_driver/_output.gitkeep
!geoclaw_output/.gitkeep
